.about-us__section {
    padding: 10px;
    margin: 10px;
    background-image: url("../img/images-about-us");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
