.choose-your-sweets {
    padding: 20px;
    margin: 20px;
}
.choose-your-sweets__title{
    font-size: 34px;
    color: var(--title-color);
    text-align: center;
}

.choose-your-sweets__icon {
    width: 70px;
    height: 14px;
    display: block;
    margin: 0 auto;
}

.choose-your-sweets__cards {
    display:grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.choose-your-sweets__card {
    background-color: var(--container-color);
}

.choose-your-sweets__card .card__image {
    height: auto;
    width: 100%;
}

.choose-your-sweets__card .card__title {
    text-align: center;
}

.choose-your-sweets__card .card__link {
    text-decoration: none;
    color: #4C6386;
    font-size: 14px;
    font-family: "Source Sans Pro",sans-serif;
}
    
.choose-your-sweets__card .card__link:hover{
    color: #a8b7d5;
}

@media (min-width: 600px) {
    .choose-your-sweets__cards {
        grid-template-columns: repeat(2, 1fr)
    }
}
@media (min-width: 900px) {
    .choose-your-sweets__cards {
        grid-template-columns: repeat(3, 1fr)
    }
}