.contacts__body {
      background-image: url();
   }
  .contacts__block {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
  }


  .ourcontacts__title {
    font-size: 34px;
  }
  .ourcontacts__title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: auto;
  }

  .contacts__separator {
    width: 6vw;
    margin: 10px;
  }
  .myinfo,
  .mymap {
    box-shadow:0px,0px,5px, gainsboro;
    margin: auto;
    width: 40vw;
    flex-basis: 45%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: justify;
    box-shadow: lightgray -3px 3px 26px 5px;;
  }

  .myinfo {
    background-color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
  }
  
  .mymap {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;  
  }
  
  .mymap iframe {
    width: 100%;
    height: 100%;
  }
  
  .contacts__title {
    font-size: 32px;
    color: #333;
    text-align: center;
  }
  
  .contact__description {
    margin: 10px 0; 
    color: #666;
  }
  
  .contacts__text {
    display: block;
    margin: 10px 0; 
    text-decoration: none;
    color: #007bff;
  }
  
  .contacts__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
  }
    .order__button {
    color: #fff;
    width: auto;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 25px;
    background-color: red;
    border-radius: 17px 50px 50px 50px;

    
  }
  .sm__logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
   }

  @media (max-width: 768px) {
    .contacts__body {
      flex-direction: column;
    }
  
    .myinfo,
    .mymap {
        width: 80vw;
      flex-basis: 100%;
      height:40vh;
    }
    .contacts__separator {
      width: 15vw;
    }
  }
  
