.contacts__form{
    display: block;
    justify-content: center;
}

.contacts__form-title, .fillings__form-title{
    font-size: 58px;
    color: var(--title-color);
}

.fillings__form-imput, .contacts__form-imput{
    background-color: var(--input-background-color);
    text-overflow: ellipsis;
    border: 0;
    font-family: inherit;
}