.header {
    min-width: 320px;
    background-color: #fff;
}
.header__wrapper-up{
    display: none;
}
.header__wrapper-down{
    display: flex;
    flex-direction: column;
}
.header__wrapper-down-main-part{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.header__wrapper-down-main-part .logo{
    max-width: 80%;
    padding: 30px 0;
}
.burger {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 24px;
    max-height: 16px;
    margin-top: 45px;
    margin-right: 10px;
}
.burger span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #454043;
    top: 7px;
    border-radius: 50px;
}
.burger:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #454043;
    top: 0px;
    border-radius: 50px;
}
.burger:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #454043;
    bottom: 0px;
    border-radius: 50px;
}
.nav-wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.header__nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
.header__nav-links li{
    list-style-type: none;
}
.header__nav-links li a{
    text-decoration: none;
    font-size: 17px;
    color: var(--title-color);
    font-family: 'Lato', sans-serif;
}
.nav-wrapper__button{
    margin-top: 20px;
    align-self: center;
}
@media (min-width: 768px){
    .logo{
        max-width: 30%;
        padding: 30px 0;
    }
}
@media (min-width: 991px) {
    .header__wrapper-up{
        display: block;
        background-color: var(--background-color);
        width: 100%;
    }
    .header__wrapper-up .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 24px;
    }
    .header__wrapper-up a{
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        color: var(--text-color);
    }
    .header__social-media{
        display: flex;
        gap: 30px;
        padding: 15px;
    }
    .header__social-media a{
        max-width: 22px;
        max-height: 22px;
        
    }
    .burger{
        display: none;
    }
    /*-----*/
    .header__wrapper-down{
        display: flex;
        flex-direction: row;
    }
    .header__wrapper-down-main-part{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    .nav-wrapper{
        display: flex;
        flex-direction: row;
        padding-bottom: 0px;
        align-items: center;
        gap: 20px;
    }
    .header__nav-links{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .logo{
        max-width: 50%;
        padding: 30px 0;
    }
    .nav-wrapper__button{
        margin-top: 0px;
        align-self: center;
    }

}