.bright-and-tasty{
    background-color: white;
}

.bright-and-tasty__title{
    text-align: center;
    font-size: 34px;
    color: var(--titel-color);
    padding-bottom: 20px;
    padding-top: 40px;
}

.plant-line{
    width: 70px;
    height: 14px;
    display: block;
    margin: auto;
}

.bright-and-tasty__text{
    font-family: var(--text-font);
    font-size: 17px;
    color: var(--text-color);
    padding-bottom: 50px;
    padding-top: 30px;
}

.first-blok-with-a-fotos, .second-blok-with-a-fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.bright-and-tasty__img-candy-bar1, .bright-and-tasty__img-candy-bar5{
    max-width: 100%;
    max-height: 270px;
}

.bright-and-tasty__img-candy-bar2, .bright-and-tasty__img-candy-bar3, .bright-and-tasty__img-candy-bar4, .bright-and-tasty__img-candy-bar6{
    width: 100%;
    height: auto;
}
